*{
  box-sizing: border-box;
}

body {
  /* padding-left: 32%; */
  background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: rgba(0, 0, 0, 0.9);
  background-size: 16px 16px;
  min-height: 100vh;
  color: #efefef;
  text-align: center;
}