* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  height: 100vh;
}

body,
.form-wrapper > input,
.form-wrapper > button {
  background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: rgba(0, 0, 0, 0.9);
  background-size: 16px 16px;
  color: #efefef;
}

.form-wrapper {
  z-index: 10000;
  position: absolute;
  top: 45%;
  left: 18%;
  max-width: 20em;
  text-align: center;
  margin: auto;
}

.form-wrapper > input {
  display: block;
  height: 40px;
  padding-left: 1em;
  min-width: 300px;
  margin: 0 auto 5% auto;
}

.form-wrapper > button {
  padding: 10px 15px;
  color: #f6830f;
  transition: 250ms;
  text-shadow: 1px 1px 2px #1b262c;
  font-weight: bold;
  margin: auto auto 10% auto;
  display: block;
}

.form-wrapper > input,
.form-wrapper > button {
  border: 1.2px solid #555;
  border-radius: 2px;
  font-size: 16px;
}

.form-wrapper > input:focus,
.form-wrapper > button:focus {
  outline: none;
}

.form-wrapper > button:hover {
  background-color: #b85f06;
  color: #b4b1b1;
  border: 1.2px solid #b85f06;
}

.success,
.error {
  font-size: 1.1em;
}

.success {
  color: forestgreen;
}

.error {
  color: tomato;
}


@media (min-width: 767.99px) {
  .form-wrapper {
    left: 26.9%;
  }
}

@media (min-width: 1023.99px) {
  .form-wrapper {
    top: 43.5%;
    left: 36%;
  }
}

@media (min-width: 1200px) {
  .form-wrapper {
    top: 40%;
    left: 39%;
  }
}

@media (min-width: 1439px) {
  .form-wrapper {
    top: 34%;
    left: 39%;
  }
}

@media (min-width: 2559px) {
  .form-wrapper {
    top: 19%;
    left: 44.2%;
  }
}
